@use "sass:color";
<* for name, value in colors *>
${{name}}: {{value.default.hex}};
<* endfor *>

// Custom Color
$red: {{colors.red.default.hex}};
$red-dim: {{colors.red.default.hex | set_lightness: -10.0}};
$green: {{colors.green.default.hex}};
$green-dim: {{colors.green.default.hex | set_lightness: -10.0}};
$yellow: {{colors.yellow.default.hex}};
$yellow-dim: {{colors.yellow.default.hex | set_lightness: -10.0}};
$blue: {{colors.blue.default.hex}};
$blue-dim: {{colors.blue.default.hex | set_lightness: -10.0}};
$magenta: {{colors.magenta.default.hex}};
$magenta-dim: {{colors.magenta.default.hex | set_lightness: -10.0}};
$cyan: {{colors.cyan.default.hex}};
$cyan-dim: {{colors.cyan.default.hex | set_lightness: -10.0}};
$white: {{colors.white.default.hex}};

$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
