#notif-close-button {
  background-color: var(--surface);
  border-radius: apply(radius-lg);
  padding: 4px;
  transition: background-color apply(transition-fast);
}

#notif-close-button:hover,
#notif-close-button:focus {
  background-color: var(--surface-bright);
}

#notif-close-button:active {
  background-color: var(--red-dim);
}

#notif-close-label {
  color: var(--red-dim);
  font-size: 20px;
}

#notif-close-button:active #notif-close-label {
  color: var(--shadow);
}
