#notification-close-button {
  background-color: @glass-hover;
  border-radius: apply(radius-sm);
}
#notification-close-button:hover {
  background-color: @glass-active;
}

#notification-action-buttons button {
  background-color: @glass-hover;
  padding: 4px;
  border-radius: apply(radius-sm);
  transition: background-color apply(transition-fast);
}

#notification-action-buttons button:hover {
  background-color: @glass-active;
}

#notification-action-buttons button:active {
  background-color: var(--primary);
}

#notification-action-buttons button:active #button-label {
  color: var(--shadow);
}
