#notification-icon {
  border-radius: apply(radius-lg);
}

#notification-image {
  border-radius: apply(radius-lg);
  color: var(--on-surface);
}

#notification-header {
  margin-bottom: 4px;
}

#notification-app-name {
  color: @glass-text-secondary;
  font-weight: bold;
  font-size: apply(font-sm);
}

#notification-time {
  color: @glass-text-secondary;
  font-size: apply(font-xs);
}

#notification-summary {
  font-weight: bold;
  font-size: apply(font-lg);
}

#button-label {
}

#action-button {
  margin-top: 8px;
}
