
**/__pycache__/
*.pyc
*.pyo
*.pyd
config/config.json
config/dock.json
config/accounts.json
config/passwords.json
config/bookmarks.json
config/hypr/colors.conf
src/styles/colors.css
.aider*
.venv/*
.venv/

