
**/__pycache__/
*.pyc
*.pyo
*.pyd
config/assets/config.json
config/assets/accounts.json
config/assets/passwords.json
config/assets/bookmarks.json
config/hypr/modus.conf
config/hypr/colors.conf
fabric/**
fabric/
# styles/colors.css
.aider*
.venv/*
.venv/
AGENTS.md
