fabric @ git+https://github.com/Fabric-Development/fabric.git@fd2aabbd7e1859aa7c11c626a6c36a937aca736a
ijson>=3.5.0
pam>=0.2.0
pillow>=12.1.1
psutil>=7.2.2
pycairo>=1.29.0
pydbus>=0.6.0
pyotp>=2.9.0
pyzbar>=0.1.9
requests>=2.32.5
six>=1.17.0
thefuzz>=0.22.1
