#nhh {
  font-weight: bold;
}

#nhh-button {
  border-radius: 8px;
  background-color: var(--surface);
  padding: 4px;
}

#nhh-button:hover {
  background-color: var(--surface-bright);
}

#nhh-button-label {
  color: var(--red-dim);
  font-size: 20px;
}

#dnd-label {
  font-size: 20px;
  margin-left: 8px;
}

#no-notifications-label {
  font-size: 96px;
  color: var(--surface-container);
}
