#dropdown-menu {
  background-color: transparent;

  border-radius: 0.75rem;
  margin: 0;
}

#dropdown-options {
  background-color: @glass-menu;
  border: 1px solid @glass-border;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

#dropdown-option {
  background-color: transparent;
  border-radius: apply(radius-xs);
  padding: 0px 10px;
  margin: 1px 2px;
  transition: all 0ms ease-in-out;
}

#dropdown-option:hover {
  color: @on-primary;
  transition: all 20ms ease-in-out;
  background-color: @glass-accent;
}

#dropdown-option:hover #dropdown-option-label {
  color: @on-primary;
}

#dropdown-option-label {
  font-size: apply(font-md);
  margin: 0px;
  color: @foreground;
  font-weight: 400;
}

#dropdown-option-label:first-child {
  padding-right: 5rem;
}

#dropdown-option:hover #dropdown-option-keybind {
  color: @on-primary;
}

#dropdown-option-keybind {
  font-weight: 500;
  color: @glass-text-secondary;
}

/* Divider */

#dropdown-divider-box {
  background-color: transparent;
  border-radius: apply(radius-xs);
  padding: 0px 10px;
  margin: 2px;
}
#dropdown-divider {
  border-bottom: 1px solid @glass-divider;
  margin: 2px 0;
}
