/* FlatScale styling */
.flat-scale {
    margin: 4px 0px;
}

.flat-scale slider {
    background-color: white;
    min-height: 24px;
    min-width: 24px;
    border-radius: apply(radius-full);
}


.flat-scale trough {
    background-color: alpha(@bg-a80, 0.5);
    min-height: 25px;
    border-radius: apply(radius-full);
    border: 1px solid alpha(@bg-a75, 0.3);
}

.flat-scale highlight {
    background-color: @fg-a80;
    min-height: 25px;
    border-radius: apply(radius-full);
}
