tooltip {
  border: @bg-a90 solid 1px;
  border-radius: 0.75rem;
  background-color: @bg-a50;
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

tooltip > * {
  padding: 3px 10px;
  border-radius: 0.75rem;
}

menu {
  border: @bg-a90 solid 1px;
  border-radius: 0.75rem;
  transition: all apply(transition-xfast) ease-in-out;
  background-color: @bg-a50;
}

menu > menuitem {
  padding: 5px 10px;
  margin: 1px 2px;
  font-size: apply(font-md);
  border-bottom: @bg-a90 solid 1px;
}

menu > menuitem:last-child {
  border-bottom: none;
}
menu > menuitem:hover {
  transition: all 20ms ease-in-out;
  font-size: apply(font-md);
  border-radius: apply(radius-xs);
  color: @on-primary;
  background-color: @primary;
}

menu > menuitem:hover > label {
  color: @on-primary;
  font-weight: 400;
}
