@import url("./colors.css");
@import url("./constant.css");
@import url("./controlpanel/index.css");
@import url("./notification/index.css");
@import url("./window/index.css");
@import url("./widgets/index.css");
@import url("./window/lock.css");

* {
    all: unset;
    color: @glass-text;
    font-size: unset;
    font-family: "SF Pro Rounded";
}

@import url("widgets/pomodoro.css");
@import url("widgets/todo.css");
