#osd-container {
    background-color: alpha(@text-main, 0.09);
    padding: 12px 20px;
    margin: 70px;
    min-width: 180px;
    min-height: 200px;
    border-radius: apply(radius-lg);
}

#osd-container scale {
    min-width: 180px;
}

#osd-container trough {
    background: var(--surface);
    min-height: 15px;
    margin-right: 4px;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: apply(radius-lg);
}

#osd-container trough highlight {
    border-radius: apply(radius-full);
    background: var(--primary);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#osd-container.muted trough highlight,
#osd-container.muted slider,
#osd-container scale.muted trough highlight,
#osd-container scale.muted slider {
    background-color: var(--surface-bright);
}

#osd-image.muted {
    color: var(--outline);
}