#settings-window {
    background-color: @bg-a50;
    border-radius: apply(radius-md);
    border: 1px solid @outline-a40;
    min-width: 850px;
    min-height: 600px;
}

#settings-main-box {
    padding: 0;
}

#settings-sidebar {
    background-color: @bg-a95;
    padding: 20px 10px;
    min-width: 200px;
    border-right: 1px solid @outline-a40;
}

#settings-sidebar-button {
    padding: 10px 15px;
    border-radius: apply(radius-sm);
    margin-bottom: 2px;
}

#settings-sidebar-button:hover {
    background-color: @primary;
    color: @on-primary;
}

#settings-sidebar-button Label {
    font-size: apply(font-base);
    font-weight: 500;
}

#settings-sidebar-button.active {
    background-color: @primary;
}

#settings-sidebar-button.active Label {
    color: @on-primary;
}

#settings-sidebar-button:hover *,
#settings-sidebar-button.active * {
    color: @on-primary;
}

#settings-content-wrapper {
    padding: 30px;
}

#settings-page-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: @foreground;
}

#settings-row {
    padding: 12px 15px;
    border-radius: apply(radius-sm);
    background-color: @fg-a03;
    margin-bottom: 2px;
}

#settings-row:hover {
    background-color: @fg-a10;
}

#settings-row-label {
    font-size: 15px;
    font-weight: 500;
}

#settings-row-description {
    font-size: apply(font-sm);
    color: @fg-a60;
}

#settings-switch {
    min-width: 40px;
    min-height: 22px;
    background-color: @fg-a30;
    border-radius: apply(radius-full);
    padding: 3px;
    transition: background-color apply(transition-slow) ease;
}

#settings-switch.active {
    background-color: @primary;
    color: @fg-a90;
}

#settings-entry {
    background-color: @bg-a70;
    padding: 8px 12px;
    border-radius: apply(radius-xs);
    border: 1px solid @outline-a40;
    min-width: 200px;
    color: @foreground;
}

#settings-entry:focus {
    border-color: @primary;
}

#settings-combo {
    background-color: @bg-a70;
    padding: 4px 8px;
    border-radius: apply(radius-xs);
    border: 1px solid @outline-a40;
    min-width: 150px;
    color: @foreground;
}

#settings-combo:hover {
    background-color: @fg-a10;
}

#settings-list-tags {
    margin-bottom: 5px;
}

#settings-list-tag {
    background-color: @fg-a08;
    border-radius: apply(radius-md);
    padding: 4px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#settings-list-tag:hover {
    background-color: @fg-a15;
}

#settings-list-tag Label {
    font-size: apply(font-md);
}

#settings-list-tag-close {
    color: @fg-a60;
    font-size: apply(font-2xs);
    margin-left: 3px;
}

#settings-list-tag-close:hover {
    color: @primary;
}

#settings-list-entry {
    background-color: @fg-a03;
    border: 1px dashed @outline-a40;
    padding: 6px 12px;
    border-radius: apply(radius-xs);
    font-size: apply(font-md);
}
