#application-switcher-container {
    background-color: @bg-a50;
    border-radius: apply(radius-xl);
    padding: 24px;
}

#application-switcher-view {
    padding: 0px;
    margin-bottom: 12px;
}

#switcher-button {
    padding: 12px;
    min-width: 100px;
    transition: all apply(transition-medium) ease;
}

#window-button {
    background-color: transparent;
    border-radius: apply(radius-md);
}

#window-button.active {
    background-color: var(--surface);
}

.switcher-selection-label {
    color: var(--foreground);
    font-size: apply(font-lg);
    font-weight: 600;
    margin-top: 8px;
}

.switcher-workspace-label {
    color: var(--foreground);
    opacity: 0.6;
    font-size: apply(font-sm);
    margin-top: 4px;
}

#switcher-icon-box {
    border-radius: apply(radius-md);
    padding: 4px;
}

#window-row {
    padding: 0px;
}

#window-button:hover,
#window-button.active {
    background-color: @primary;
}

#window-button:hover .switcher-selection-label,
#window-button.active .switcher-selection-label,
#window-button:hover .switcher-workspace-label,
#window-button.active .switcher-workspace-label {
    color: @on-primary;
}
