#launcher {
    background-color: @bg-a50;
    padding: 0;
    border-radius: apply(radius-md);
    min-width: 640px;
    border: 1px solid @fg-a10;
}

#header_box {
    padding: 0px 20px 0 20px;
    color: @shadow;
}

#launcher-icon-label {
    font-size: 20px;
    padding: 6px;
    color: @fg-a80;
}
