#bar {
  padding: 4px;
  background-color: var(--surface);
  border-radius: 0 0 12px 12px;
}


#bar-container {
    transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
    opacity: 1;
  }
  
  #bar-container.hide-bar {
    margin-top: -32px;
  }
  
  #bar-container.show-bar {
    margin-top: 0;
  }
  
  #bar-container.occluded {
    margin-top: -32px;
  }
  
  
  #bar-corner-left {
    margin-left: -16px;
  }
  
  #bar-corner-right {
    margin-right: -16px;
  }

  #active-window {
    padding: 0px 8px;
    margin: 0 200px 0 0;
  }


  #workspaces {
    padding: 4px;
    min-width: 20px;
    border-radius: 8px;
    background-color: var(--surface-container);
  }

  #date-time {
    padding: 4px;
    margin: 0 200px 0 0;
  }

  #tray {
    padding: 4px;
  }
  
  #tray > button {
    margin: 0px;
    padding: 0px;
  }
  
  menu {
    border: solid 1px var(--outline-variant);
    border-radius: 16px;
    background-color: var(--surface);
    padding: 6px;
  }
  
  menu > menuitem {
    border-radius: 10px;
    padding: 6px 10px;
  }
  
  menu > menuitem:hover {
    background-color: var(--surface-bright);
  }
  
  menu > menuitem:hover > label {
    color: var(--on-surface);
  }


#metrics{
  padding: 4px;
  background-color: var(--surface-container);
  border-radius: 8px;
}

#metrics-circle {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#metrics-circle.bat {
  border: 3px solid var(--green);
}

#metrics-circle.alert {
  border: 3px solid var(--red-dim);
}

#metrics-icon {
  font-size: 15px;
}

#metrics-icon.alert {
  color: var(--red-dim);
}

#metrics-level {
  font-weight: bold;
  padding: 2px;
}

#metrics-sep {
  min-width: 6px;
}
  
#system-indicator {
  padding: 4px;
  background-color: var(--surface-container);
  border-radius: 8px;
}

#system-indicator-icon {
  font-size: 20px;
}

  
#power-menu {
  padding: 4px;
  border-radius: 8px;
  background-color: var(--surface-container);
  transition: all 0.2s ease;
}

#power-menu .power-icon{
  font-size: 20px;
}

#power-menu.locked {
  opacity: 0.5;
  background-color: var(--surface-container-low);
}

#power-menu.locked:hover {
  opacity: 0.7;
  background-color: var(--surface-container);
}

#power-menu .power-label {
  transition: all 0.2s ease;
}

#power-menu.locked .power-label {
  color: var(--on-surface-variant);
}

#power-menu:not(.locked) .power-label {
  color: var(--on-surface);
}
  
  