#bar {
  background-color: @surface;
  padding: 3px;
}

#bar label {
  font-weight: bold;
}

#bar.hidden {
  opacity: 0;
  padding: 3px;
  margin-bottom: -52px;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

#bar.visible {
  opacity: 1;
  padding: 3px;
  margin-bottom: 0px;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

/*
 * ── button bar ────────────────────────────────────────────────────────
*/

#button-bar {
  background-color: @surfaceContainer;
  min-width: 38px;
  border-radius: 100px;
  transition: all 0.1s ease;
}

#button-bar-label {
  color: @primary;
  font-size: 24px;
  border-radius: 100px;
  transition: all 0.1s ease;
}

#button-bar:hover #button-bar-label {
  background-color: @surfaceBright;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

#button-bar:active #button-bar-label {
  color: @shadow;
  background-color: @primary;
}

/*
 * ── bar modules ───────────────────────────────────────────────────────
*/

#start-container,
#center-container,
#end-container {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

/*
 * ── workspace ─────────────────────────────────────────────────────────
*/

#workspaces {
  border-radius: 100px;
  font-style: normal;
  background: @surfaceContainer;
  padding: 0px 10px 0px 10px;
}

/*
 * ── update ────────────────────────────────────────────────────────────
*/

#update-icon {
  color: @primary;
  font-size: 22px;
  margin-right: 1px;
  padding: 2px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

#updated-icon {
  color: @primary;
  font-size: 20px;
  padding: 8px;
  border-radius: 99px;
  transition: all 0.1s ease;
}

#update-label {
  color: @primary;
  font-size: 10px;
  font-weight: bold;
  padding: 0px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

/*
 * ── Clock ─────────────────────────────────────────────────────────────
*/

#datetime {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 8px;
}

/*
 * ── battery ───────────────────────────────────────────────────────────
*/

#battery {
  background-color: @surfaceContainer;
  padding: 2px 10px 2px 10px;
  border-radius: 100px;
}

#battery-circle {
  color: @surfaceBright;
  border: 3px solid @primary;
}

#battery-circle.alert {
  border: 2px solid @error;
}

#battery-icon {
  font-size: 20px;
}

#battery-icon.alert {
  color: @onError;
}

#battery-save,
#battery-balanced,
#battery-performance {
  min-width: 30px;
  min-height: 28px;
  margin: 2px 0px;
  border-radius: 100px;
}

#battery-save-label,
#battery-balanced-label,
#battery-performance-label {
  color: @outline;
  font-size: 24px;
}

#battery-save:hover,
#battery-balanced:hover,
#battery-performance:hover {
  background-color: @surfaceBright;
}

#battery-save:hover #battery-save-label,
#battery-balanced:hover #battery-balanced-label,
#battery-performance:hover #battery-performance-label {
  color: @primary;
}

#battery-save.active,
#battery-balanced.active,
#battery-performance.active {
  background-color: @primary;
}

#battery-save.active #battery-save-label,
#battery-balanced.active #battery-balanced-label,
#battery-performance.active #battery-performance-label {
  color: @shadow;
}

#battery-level {
  color: @primary;
  font-weight: bold;
  margin: 0 4px;
  font-size: 11px;
}

/*
 * ── systeminfo ────────────────────────────────────────────────────────
*/

#system-info {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 0px 10px;
}

/*
 * ── tray ──────────────────────────────────────────────────────────────
*/

#tray {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 0px 10px;
}

#tray > button {
  margin: 0px;
  padding: 0px;
}

menu {
  border: solid 1px @outlineVariant;
  border-radius: 16px;
  background-color: @surface;
  padding: 6px;
}

menu > menuitem {
  border-radius: 10px;
  padding: 6px 10px;
}

menu > menuitem:hover {
  background-color: @surfaceBright;
}

menu > menuitem:hover > label {
  color: @onSurface;
}

/*
 * ── logo ──────────────────────────────────────────────────────────────
*/
#logo {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 0px 10px 0px 10px;
}

#logo-name {
  color: darker(@primary);
}

#logo:hover {
  background-color: @surfaceBright;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

/*
 * ── applets ───────────────────────────────────────────────────────────
*/

#applets {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
  margin: 0px;
}

#indicator-icon {
  font-size: 24px;
}

/*
 * ── stats i.e cpu,ram,swap,temp ───────────────────────────────────────
*/

#stats-icons {
  font-size: 20px;
}

#stats-progress {
  color: @surfaceBright;
  border: 3px solid @primary;
}

/*
 * ── taskbar ───────────────────────────────────────────────────────────
*/

#taskbar {
  border-radius: 100px;
  color: @onSurface;
  background: @surfaceContainer;
  padding-left: 4px;
  padding-right: 4px;
}

#taskbar > button.activated {
  border-radius: 100px;
  background: @surfaceVariant;
}

#taskbar > button:hover {
  background: @surfaceBright;
}

#taskbar > button {
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 100px;
  border: 0px;
}

#taskbar > button:last-child {
  margin-right: 0px;
}

/*
 * ── recording indicator ───────────────────────────────────────────────
*/

#recording-indicator {
  min-width: 38px;
  border-radius: 100px;
}

#recorder {
  color: @error;
  border-radius: 100px;
  min-width: 25px;
  font-size: 20px;
  animation: error 2s infinite;
}

@keyframes error {
  to {
    background-color: @onError;
  }
}
