#dock {
  background-color: alpha(#fff, 0.07);
  padding: 4px 4px;
  margin: 4px 4px;
  border: none;
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#dock-app-button {
  border-radius: 16px;
}

#dock-separator {
  min-width: 3px;
  margin: 2px 0;
  background-color: var(--surface-bright);
  border-radius: 8px;
}

#dock-app-button:hover {
  margin-top: -55px;
  margin-bottom: 4px;
  transition: all 0.15s ease-out;
}

#dock-app-button.semi_hovered {
  margin-top: -20px;
  margin-bottom: 2px;
  transition: all 0.15s ease-out;
}

#dock-app-overlay label {
  background-color: alpha(#000, 0.5);
  font-size: 12px;
  margin-top: 20px;
  min-width: 15px;
  border-radius: 8px;
}
