#indicator {
  padding: 4px;
  background-color: var(--surface);
}

#indicator.invert {
  background-color: var(--surface);
  border-radius: 12px;
}

#button-network,
#button-bluetooth {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#network-label,
#bluetooth-label {
  font-size: 20px;
}
