@import "./colors.css";
@import "./bar.css";
@import "./notification.css";
@import "./osd.css";
@import "./launcher.css";
@import "./dashboard.css";
@import "./dock.css";
@import "./notif_center.css";

* {
  all: unset;
  color: var(--foreground);
  font-size: 15px;
  font-family: "Monaspace Radon";
}

/*
 * ── tooltip ───────────────────────────────────────────────────────────
*/
tooltip {
  border: solid 1px;
  border-radius: 16px;
  border-color: var(--outline);
  background-color: var(--surface);
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

tooltip > * {
  padding: 6px 10px;
  border-radius: 10px;
}

#corner {
  background-color: var(--surface);
  border-radius: 0;
}

#corner-container {
  min-width: 20px;
  min-height: 20px;
}
