#notification {
  padding: 16px;
  background-color: alpha(#000, 0.3);
  border: 0.5px solid alpha(#111, 0.4);
  box-shadow:
    inset 0 0 200px 0 alpha(#111, 0.5),
    inset 0 0 0 0.5px alpha(#aaa, 0.4);
  border-radius: 20px;
  margin: 4px;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#notification-action-buttons button.start-action {
  border-radius: 20px;
}

#notification-action-buttons button {
  background-color: alpha(#000, 0.3);
  padding: 8px;
  border-radius: 20px;
  transition: background-color 0.1s ease;
}

#notification-action-buttons button:hover {
  background-color: var(--surface-bright);
}

#notification-action-buttons button:active {
  background-color: var(--primary);
}

#notification-action-buttons button:active #button-label {
  color: var(--shadow);
}

#notification-image image {
  border-radius: 16px;
  color: var(--on-surface);
}

#notification-summary,
#button-label {
  font-weight: bold;
}

#notification-summary {
  font-weight: bold;
  color: var(--primary);
}

#notification-app-name {
  color: var(--outline);
}

#action-button {
  margin-top: 8px;
}

#notif-close-button {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 4px;
  transition: background-color 0.1s ease;
}

#notif-close-button:hover,
#notif-close-button:focus {
  background-color: var(--surface-bright);
}

#notif-close-button:active {
  background-color: var(--red-dim);
}

#notif-close-label {
  color: var(--red-dim);
  font-size: 20px;
}

#notif-close-button:active #notif-close-label {
  color: var(--shadow);
}
