#osd {
    background-color: alpha(#000, 0.03);
  padding: 12px 20px;
  margin: 70px;
    min-height: 200px;
  border-radius: 16px;
}

#osd scale {
  min-width: 180px;
}

#osd trough {
  background: var(--surface);
  min-height: 15px;
  margin-right: 4px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 16px;
}

#osd trough highlight {
  border-radius: 100px 0px 0px 100px;
  background: var(--primary);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#osd.muted trough highlight,
#osd.muted slider,
#osd scale.muted trough highlight,
#osd scale.muted slider {
  background-color: var(--surface-bright);
}

#brighntess-icons.muted,
#vol-icon.muted,
#mic-icon.muted {
  color: var(--outline);
}
